body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profilePage {
  padding: 40px 80px;
}

.profilePageContainer {
  max-width: 900px;
  margin: auto;
}

.profileImageContainer {
  height: 300px;
  width: 300px;
  padding: 12px;
  display: block;
}

.profileImage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: url(assets/thandile.jpg);
  background-size: cover;
}

.postItemContainer {
  flex: 1;
  padding: 24px;
  display: inline-block;
}

.postItem {
  height: 300px;
  width: 300px;
  background-size: cover;
}

.postGrid {
  display: block;
}